<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @alert.name %>
</p>

<p>
  <strong>Origin:</strong>
  <%= @alert.origin %>
</p>

<p>
  <strong>Destination:</strong>
  <%= @alert.destination %>
</p>

<p>
  <strong>Price:</strong>
  <%= @alert.price %>
</p>

<p>
  <strong>Bus category:</strong>
  <%= @alert.bus_category %>
</p>

<%= link_to 'Edit', edit_alert_path(@alert) %> |
<%= link_to 'Back', alerts_path %>
